<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<!-- check if the profile is the current user or the profile is public or if the current_user has an accepted follow request from the page of the user they are on (@user) -->
<%# if current_user == @user || !@user.private? || current_user.leaders.include?(@user) %>
<% if policy(@user).show_photos? %>
  <div class="row mb-2">
    <div class="col-md-6 offset-md-3">
      <%= render "users/profile_nav", user: @user %>
    </div>
  </div>

  <% @user.own_photos.each do |photo| %>
    <%= render "photos/photo", photo: photo %>
  <% end %>
<% end %>
